@import "../shared/util.scss";
@import "../shared/vars.scss";

.page {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

    .policy__container {
        padding: 4em 4em;
        width: 70%;
        max-width: 80em;
        position: relative;
        overflow: hidden;
    }
}